/* Global Styles */
h1, h2, h3 {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Open Sans', Helvetica, sans-serif;
}

header {
  margin: 5em auto 4em;
  text-align: center;
  h1 {
    font-size: 3em;
    font-weight: 100;
  }
}

h2 {
  font-size: 1.2em !important;
  font-weight: 400 !important;
  padding: 0.3em auto;
  text-align: center;
  text-transform: uppercase;
}

/* Visualizations */
.viz {
  font-family: 'Open Sans', Helvetica, sans-serif;
}