/* Global Styles */
h1, h2, h3 {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Open Sans', Helvetica, sans-serif;
}

header {
  margin: 5em auto 4em;
  text-align: center;
  h1 {
    font-size: 3em;
    font-weight: 100;
  }
}

h2 {
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 1.3em !important;
  font-style: italic;
  margin: 0.7em auto;
  text-align: center;
  text-transform: lowercase;
}

h3 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.2em !important;
  font-weight: 400 !important;
  margin: 0.5em auto !important;
  text-align: center;
  text-transform: uppercase;
}

/* Visualizations */
.viz {
  font-family: 'Open Sans', Helvetica, sans-serif;
}